extends ../layout
block vars
  - var bodyClass = 'auth recover-page';
  - var activeClass = 'active';

block menu
  include ../menus/logged_out.jade
   
block content
  .auth_wrapper.container-fluid
    .container
      //- h1.text-center Signup page #{user}
      //- h1.text-center Login
      form.form-signin
        .text-center.mb-4
          //- img(class="mb-4", src="")
          h1(class="h3 h3A mb-h3") Password Recovery
          //.formB.text-left
            .form-label-group
              input(type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
              label(for="inputEmail") Email address
            .form-label-group
              input(type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus)
              label(for="inputPassword") Password
            .checkbox.mb-3
              button(class="btn btn-lg btn-primary btn-block" type="submit") Sign In
