// SHOW THE FOLLOWING LIST ONLY WHEN THE USER IS LOGGED IN
a(class=(thisPage === 'dashboard' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="/app/dashboard") Dashboard
<!-- Manage will be replaced with Search -->
a(class=(thisPage === 'manage' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="#nogo") Manage
a(class=(thisPage === 'notifications' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="#nogo") Notifications
a(class=(thisPage === 'myAccount' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="#nogo") My Account
a(class="strong cta_1 p-2 text-light btn btn-primary" href="#nogo") + Add