// SHOW THE FOLLOWING LIST ONLY WHEN THE USER IS LOGGED OUT
a(class=(thisPage === 'home' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="/") Home
a(class=(thisPage === 'features' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="/features") Features
a(class=(thisPage === 'pricing' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="/pricing") Pricing
a(class=(thisPage === 'login' ? 'active p-3 text-dark' : ''), class="p-3 text-dark" href="/login") Login
a(class="strong cta_1 p-2 text-light btn btn-primary" href="/signup") Try for free