extends layout
block vars
  - var bodyClass = 'error-page';
  - var activeClass = 'active';

block menu
  include ./menus/logged_out.jade

block content
  .error_wrapper.container-fluid
    .container
      .text-left
        h1= message
        h2= error.status
      pre #{error.stack}
