extends ../layout
   
block content
  .page_wrapper.container-fluid.no-padding
    .app_rowA.row.clearfix
      .app_colB_out.col-md-12.clearfix
        .app_colB_in.app_col.p-5
          
          block appMain