extends ../layout
   
block content
  .page_wrapper.container-fluid.no-padding
    .app_rowA.row.clearfix
      .app_colA_out.col-md-2.clearfix
        .app_colA_in.app_col.p-4.sticky-top

          .sidebarActions.hidden 
            button(class="btn btn-lg btn-block btn-primary") + Add
          .sidebarNav
            ul
              li.sidebarTitle Process
              li
                a(href="/app/dashboard") Dashboard
              li
                a(href="/app/invoice") Invoice Tenants
              li
                a(href="#nogo") Confirm Payments
              li.break
              li.sidebarTitle Manage
              li
                a(href="#nogo") Manage Tenants
              li
                a(href="#nogo") Manage Units
              li
                a(href="#nogo") Manage Properties
              li.break
              li.sidebarTitle More  
              li          
                a(href="/app/onboarding") Onboarding URL   
              li
                // Here we will be able to change billing cycles and stuff like that.
                a(href="#nogo") Account Settings                
              li
                a(href="#nogo") Help!                      
              li              
                a(href="#nogo") Logout

          block appSidebar
              
      .app_colB_out.col-md-10.clearfix
        .app_colB_in.app_col.p-5
          
          block appMain