extends ../layout
block vars
  - var bodyClass = 'page page-about';
  - var activeClass = 'active';
   
block content
  .page_wrapper.container-fluid
    .container
      //- h1.text-center Signup page #{user}
      h1.text-center About
