extends ../layout
block vars
  - var bodyClass = 'page page-contact';
  - var activeClass = 'active';

block menu
  include ../menus/logged_out.pug
   
block content
  .page_wrapper.container-fluid
    .container
      h1.text-center Contact Us
      p.text-center email: info@maskani.co.ke
      p.text-center mobile: 0720460350
