extends ../layout
block vars
  - var bodyClass = 'page page-contact';
  - var activeClass = 'active';

block menu
  include ../menus/logged_out.jade
   
block content
  .page_wrapper.container-fluid
    .container
      //- h1.text-center Signup page #{user}
      h1.text-center Contact Us
