extends ../layout
block vars
  - var bodyClass = 'auth signup-page';
  - var activeClass = 'active';

block menu
  include ../menus/logged_out.pug
   
block content
  script(src='/javascript/authManager-client.js')
  .auth_wrapper.container-fluid.no-padding
    //- h.container
      1.text-center Signup
    .singup-wrapper
      .row.clearfix
        .col-md-8
          .signup_info.p-5
            h1 Manage Your Tenants &nbsp;
              span Bila Stress!
            ul
              li Benefit 1
              li Benefit 2
              li Benefit 3
              li Benefit 4
        .col-md-4
          .signup_actions.p-5
            .form_groups
              form#signupForm2(class="homeSignup formA" method='POST' action='/auth/signup')
                h1(class="h3 h3A mb-h3") Sign Up
                .form-group
                  label(for="fullName" placeholder="Full Name") Full Name
                  input(type="text" class="form-control" id="signupName2" placeholder="" required autofocus)
                .form-group
                  label(for="emailAddress" placeholder="Email Address") Email Address
                  input(type="email" class="form-control" id="signupEmail2" placeholder="" required)
                .form-group
                  label(for="phoneNumber" placeholder="Phone Number") Phone Number
                  input(type="number" class="form-control" id="signupPhone2" placeholder="" required)
                .form-group
                  label(for="Password" placeholder="Password") Password
                  input(type="password" class="form-control" id="signup2Pass1" placeholder="" required)
                .form-group
                  label(for="Password" placeholder="Confirm Password") Confirm Password
                  input(type="password" class="form-control" id="signup2Pass2" placeholder="" required
                  )                                        
                .form-group
                  .checkbox
                    label
                      input(type='checkbox', checked='checked')
                      |  I accept the Terms of Service
                .form-group
                  input.btn.btn-primary.btn-lg.btn-block.strong.cta_2(type='submit', value='Sign me up!')
