extends ../app/layout_app

block vars
  - var bodyClass = 'dashboard invoice-index';
  //- - var activeClass = 'active';

block menu
  include ../menus/logged_in.jade
 
block appSidebar
  // p Invoice Tenants

block appMain
  script(src='/javascript/invoiceManager-client.js')

  h1.main_title Invoice Tenants
  ul.list-inline.dropA

    li.list-inline-item
      .dropdown
        button(class="btn btn-light dropdown-toggle", type="button" id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false" ) 2019
        div(class="dropdown-menu", aria-labelledby="dropdownMenuButton")
          a(class="dropdown-item", href="#nogo") 2020
          //- a(class="dropdown-item", href="#nogo") 2017
          //- a(class="dropdown-item", href="#nogo") 2016

    li.list-inline-item
      //3.main_sub_title September 2019
        span.property_title

      .dropdown
        button(class="btn btn-light dropdown-toggle", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false" ) October
        div(class="dropdown-menu", aria-labelledby="dropdownMenuButton")
          a(class="dropdown-item", href="#nogo") September
          a(class="dropdown-item", href="#nogo") August
          a(class="dropdown-item", href="#nogo") July
          a(class="dropdown-item", href="#nogo") June
          a(class="dropdown-item", href="#nogo") May
          a(class="dropdown-item", href="#nogo") April
          a(class="dropdown-item", href="#nogo") March
          a(class="dropdown-item", href="#nogo") February
          a(class="dropdown-item", href="#nogo") January
          a(class="dropdown-item", href="#nogo") December
          a(class="dropdown-item", href="#nogo") November

    li.list-inline-item.propertyDrop
      .dropdown#defaultFlat
        //- button(class="btn btn-light dropdown-toggle", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Hurlingham B Flats
        div(class="dropdown-menu", aria-labelledby="dropdownMenuButton")#flats
          a(class="dropdown-item", href="#nogo") + Add Another Property

    // li.list-inline-item.normalButton.far-right
        button(class="btn btn-primary", type="button" ) + Do Something
    button#addFlat(class="btn btn-primary", type="button" data-toggle="modal" data-target="#uAddFlat" style="background:blue;visibility:hidden;") Add Flat


  .main_head
    ul.nav.nav-tabs(id="invoiceTab" role="tablist")
      li.nav-item
        a.nav-link.active(href='#main_in' data-toggle="tab" role="tab" id="allinvoicetab" aria-controls="all" aria-selected="true") All Invoices
      |       
      li.nav-item
        a.nav-link(href='#main_sent' data-toggle="tab" role="tab" id="sentinvoices" aria-controls="sent" aria-selected="false") Sent Invoices
      |       
      li.nav-item
        a.nav-link(href='#main_not_sent' data-toggle="tab" role="tab" id="notSentinvoices" aria-controls="not_sent" aria-selected="false") Invoices Not Sent
      |       
      li.nav-item
        a.nav-link(href='#main_empty' data-toggle="tab" role="tab" id="emptyUnits" aria-controls="empty" aria-selected="false") Empty Units
  
  .tab-content
    .main_in.tab-pane.active(role="tabpanel" aria-labelledby="all-tab" id="main_in")
      .tWrapper1.p-0
        table.table.table-hover.t-1
          thead
            tr
              th(scope='col', class='tSelect') 
              th(scope='col', class='tUnit') Unit
              th(scope='col', class='tName') Name
              th(scope='col', class='tContacts') Contacts
              th(scope='col', class='tFinancials') Financials
              //- th(scope='col', class='t') Invoice Status          
              th(scope='col', class='t') Edit          
              th(scope='col', class='t') Action
          tbody#unitTable         

      figure.mainActions.text-center.p-5
        button(class='btn btn-lg btn-success' data-toggle='modal', data-target='#uAddUnit') Add Unit
        br
        
        .modalGroup
          #uName.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Unit B1 - Edit / Change Unit's current occupancy or current tenant
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                  | Form with editable unit details
                // Modal footer
                .modal-footer
                  p 
                  button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                  button.btn.btn-success(type='button') Update

          #uDetails.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Unit B1 - Add / Edit / Tenant Details 
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                  | Form with editable unit details
                // Modal footer
                .modal-footer
                  button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                  button.btn.btn-success(type='button', data-dismiss='modal') Update

          #uRent.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Unit B1 - Update Monthly Rent
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                  | Form with editable unit details
                // Modal footer
                .modal-footer
                  button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                  button.btn.btn-success(type='button', data-dismiss='modal') Update

          #uCosts.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
              .modal-content.m-2
                // Modal Header
                .modal-header
                  h4.modal-title Unit B1 - Add/ Edit Other Charges
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                  | Form with editable unit details
                // Modal footer
                .modal-footer
                  button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                  button.btn.btn-success(type='button', data-dismiss='modal') Update


          #uAllTenants.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Edit Tenant Details
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body

                  .formWrapper
                    form.formB.text-left
                      p
                        strong Personal Details                  
                      .form-row
                        .form-group.col-md-6
                          label(for='inputName') Full Name
                          |       
                          input#inputName.form-control(type='text', placeholder='Full Name')
                        |     
                        .form-group.col-md-6
                          label(for='inputEmail') Email Address
                          |       
                          input#inputEmail.form-control(type='email', placeholder='Email Address')
                      |   
                      .form-row
                        .form-group.col-md-6
                          label(for='inputPhone') Phone Number
                          |       
                          input#inputPhone.form-control(type='text', placeholder='Phone Number')
                        |     
                        .form-group.col-md-6
                          label(for='inputDate') Date Joined
                          |       
                          input#inputDate.form-control(type='text', placeholder='5 August, 2019', readonly)

                      p
                        strong Financials
                      .form-row
                        .form-group.col-md-6
                          label(for='inputRent') Rent
                          .input-group
                            .input-group-prepend
                              .input-group-text#basic-addon1 KES
                            |     
                            input#inputRent.form-control(type='text', placeholder='000')                  
                        .form-group.col-md-6                      
                          label(for='inputRent') Garbage
                          .input-group
                            .input-group-prepend
                              .input-group-text#basic-addon1 KES
                            |     
                            input#inputGarbage.form-control(type='text', placeholder='000')
                        
                        .form-group.col-md-6
                          label(for='inputRent') Water
                          .input-group
                            .input-group-prepend
                              .input-group-text#basic-addon1 KES
                            |     
                            input#inputWater.form-control(type='text', placeholder='000')

                        .form-group.col-md-6 
                          label(for='inputRent') Penalty
                          .input-group
                            .input-group-prepend
                              .input-group-text#basic-addon1 KES
                            |     
                            input#inputPenalty.form-control(type='text', placeholder='000')  
                      
                      p
                        strong Status    

                      .form-row    
                        .form-group.col-md-6 
                          label(for='inputState') Tenancy Status
                          select#inputStatus.form-control
                            option(selected='', value='unchanged') Unchanged 
                            |        
                            option(value='left') Tenant moved out
                            option(value='changed') Change House number

                        .form-group.col-md-6 
                          label(for='inputState') House Number
                          select#inputUnit.form-control(disabled)
                // Modal footer
                .modal-footer
                  p 
                  button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                  button.btn.btn-success(type='button', onClick='submitEditTenantForm()') Save
          
          #uAddTenant.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Add Tenant
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                .tabbable
                  ul.nav.nav-tabs
                    li.nav-item.active
                      a.nav-link.active(href='#tab1' data-toggle='tab') Select Existing 
                    |       
                    li.nav-item
                      a.nav-link(href='#tab2' data-toggle='tab') Create New
                  .tab-content
                      #tab1.tab-pane.active
                        .formWrapper
                          form.formB.text-left
                            p
                              strong                  
                            .form-row
                              .form-group.col-md-12  
                                label(for='inputTenantWithoutUnit') Tenant Name / Email Address
                                select#tenantsWithoutUnits.form-control
                                  option Tenant 1
                                  option Tenant 2
                        // Modal footer
                        .modal-footer
                          button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                          button.btn.btn-success(type='button', onClick='submitAssignTenantToUnitForm()') Save
                      #tab2.tab-pane
                        .formWrapper
                          form.formB.text-left
                            p
                              strong Personal Details                  
                            .form-row
                              .form-group.col-md-6
                                label(for='newTenantName') Full Name
                                |       
                                input#newTenantName.form-control(type='text', placeholder='Full Name')
                              |     
                              .form-group.col-md-6
                                label(for='newTenantEmail') Email Address
                                |       
                                input#newTenantEmail.form-control(type='email', placeholder='Email Address')
                            |   
                            .form-row
                              .form-group.col-md-6
                                label(for='newTenantPhone') Phone Number
                                |       
                                input#newTenantPhone.form-control(type='text', placeholder='Phone Number')
                              |     
                            p
                              strong Financials
                            .form-row
                              .form-group.col-md-6
                                label(for='newTenantRent') Rent
                                .input-group
                                  .input-group-prepend
                                    .input-group-text#basic-addon1 KES
                                  |     
                                  input#newTenantRent.form-control(type='text', placeholder='000')                  
                              .form-group.col-md-6                      
                                label(for='newTenantRent') Garbage
                                .input-group
                                  .input-group-prepend
                                    .input-group-text#basic-addon1 KES
                                  |     
                                  input#newTenantGarbage.form-control(type='text', placeholder='000')
                              
                              .form-group.col-md-6
                                label(for='newTenantRent') Water
                                .input-group
                                  .input-group-prepend
                                    .input-group-text#basic-addon1 KES
                                  |     
                                  input#newTenantWater.form-control(type='text', placeholder='000')

                              .form-group.col-md-6 
                                label(for='newTenantRent') Penalty
                                .input-group
                                  .input-group-prepend
                                    .input-group-text#basic-addon1 KES
                                  |     
                                  input#newTenantPenalty.form-control(type='text', placeholder='000')  
                        // Modal footer
                        .modal-footer
                          p 
                          button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                          button.btn.btn-success(type='button', onClick='submitCreateNewTenantForUnitForm()') Save

          #uAddUnit.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Add Unit
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                        .formWrapper
                          form.formB.text-left
                            .form-row
                              .form-group.col-md-12
                                label(for='newUnitName') Unit Name
                                |       
                                input#newUnitName.form-control(type='text', placeholder='Name', required)
                        // Modal footer
                        .modal-footer
                          p 
                          button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                          button.btn.btn-success(type='button', onClick='createUnit()') Save

          #uAddFlat.modal(data-backdrop="static" data-keyboard="false")
            .modal-dialog
              .modal-content
                // Modal Header
                .modal-header
                  h4.modal-title Add Flat
                  |         
                  button.close(type='button', data-dismiss='modal') &times;
                // Modal body
                .modal-body
                        .formWrapper
                          form.formB.text-left
                            .form-row
                              .form-group.col-md-12
                                label(for='newFlatName') Flat Name
                                |       
                                input#newFlatName.form-control(type='text', placeholder='Name', required)
                        // Modal footer
                        .modal-footer
                          p 
                          button.btn.btn-link(type='button', data-dismiss='modal',) Cancel
                          button.btn.btn-success(type='button', onClick='createFlat()') Save

    .main_sent.tab-pane(role="tabpanel" aria-labelledby="sent-tab" id="main_sent")
      .tWrapper1.p-0
        table.table.table-hover.t-1
          thead
            tr
              th(scope='col', class='tSelect') 
              th(scope='col', class='tUnit') Unit
              th(scope='col', class='tName') Name
              th(scope='col', class='tContacts') Contacts 
              th(scope='col', class='tFinancials') Financials
          tbody#unitTable         

    .main_not_sent.tab-pane(role="tabpanel" aria-labelledby="not_sent-tab" id="main_not_sent")
      .tWrapper1.p-0
        table.table.table-hover.t-1
          thead
            tr
              th(scope='col', class='tSelect') 
              th(scope='col', class='tUnit') Unit
              th(scope='col', class='tName') Name
              th(scope='col', class='tContacts') Contacts
              th(scope='col', class='tFinancials') Financials
          tbody#unitTable         
  
    .main_empty.tab-pane(role="tabpanel" aria-labelledby="empty-tab" id="main_empty")
      .tWrapper1.p-0
        table.table.table-hover.t-1
          thead
            tr
              th(scope='col', class='tSelect') 
              th(scope='col', class='tUnit') Unit
              th(scope='col', class='tName') Name
              th(scope='col', class='tContacts') Contacts
              th(scope='col', class='tFinancials') Financials
          tbody#unitTable         