extends ../layout

//- - var sideClass = 'side';
//- block vars
   
block content
  script(src='/javascript/authManager-client.js')

  .page_wrapper.container-fluid.no-padding
    .app_rowA.row.clearfix
      .app_colA_out.col-md-2.clearfix
        .app_colA_in.app_col.p-4.sticky-top

          .sidebarActions.hidden 
            button(class="btn btn-lg btn-block btn-primary") + Add
          .sidebarNav
            ul
              li.sidebarTitle Process
              li
                a(href="/app/dashboard", class=(activePage === 'dashboard' ? 'active' : '')) Dashboard
              li
                a(href="/app/invoices", class=(activePage === 'invoice_tenants' ? 'active' : '')) Invoice Tenants
              li
                a(href="/app/receipts", class=(activePage === 'receipt_tenants' ? 'active' : '')) Confirm Payments
              li.break
              //- li.sidebarTitle Manage
              //- li
              //-   a(href="/app/manage-tenants", class=(activePage === 'manage_tenants' ? 'active' : '')) Manage Tenants
              //- li
              //-   a(href="#nogo", class=(activePage === 'manage_units' ? 'active' : '')) Manage Units
              //- li
              //-   a(href="#nogo", class=(activePage === 'manage_properties' ? 'active' : '')) Manage Properties
              li.break
              li.sidebarTitle Settings  
              //- li          
              //-   a(href="/app/onboarding", class=(activePage === 'onboarding' ? 'active' : '')) Onboarding URL   
              //- li
                // Here we will be able to change billing cycles and stuff like that.
                a(href="#nogo") Account Settings                
              li
                a(href="#nogo") Help                     
              li              
                a#logout(href="#nogo" onclick="logout()") Logout

          block appSidebar
              
      .app_colB_out.col-md-10.clearfix
        .app_colB_in.app_col.p-5
          
          block appMain